html {
    font-size: 17px;
  }
  
  body{
      text-align: center;
      font-family: monospace;
      line-height: 1.5rem;
      color: 333;
      margin: 0;
    }
  
  img {
    max-width:100%;
    display: block;
   height: auto;
   margin: 0 auto;
    
  }
   h1 {
     color:#000;
     margin: 30px 8px;
     padding: 15px;
     font-size:40px;
        
   }
   #main {
     margin: 20px 4px;
     padding: 15px;
     border-radius: 5px;
     background: #79b5a8;
     
   }
    
    Figure {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 40px;
      margin-inline-end: 40px;
    }
  
    figcaption {
      display: block;
    }
  
    #img-div {
      background: rgb(221, 237, 217);
      padding: 10px;
       margin:0;
    }
  
    #img {
    display: block;
    }
  
    #img-caption {
    margin: 15px 0 5px 0;
    }
  
    
  
   li {
     display: block;
   }
   